.alert {
  display: flex;
  width: 100%;
  gap: 12px;
  padding: 8px 12px;
  align-items: center;
  border-radius: 16px;

}


.alert__icon {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.alert--default {
  background: var(--alert-default);
  border: 2px solid var(--border-color);
}

.alert--success {
  background: var(--alert-success);
  border: 2px solid var(--alert-success-border);
}

.alert--error {
  background: var(--alert-error);
  border: 2px solid var(--alert-error-border);
}
