.alert {
  display: flex;
  width: 100%;
  gap: var(--small);
  padding: var(--xsmall) var(--small);
  align-items: center;
  border-radius: var(--small);

}


.alert__icon {
  margin-right: 8px;
  width: var(--small);
  height: var(--small);
}

.alert--default {
  background: var(--alert-default);
  border: 2px solid var(--border-color);
}

.alert--success {
  background: var(--alert-success);
  border: 2px solid var(--alert-success-border);
}

.alert--error {
  background: var(--alert-error);
  border: 2px solid var(--alert-error-border);
}
