.alert {
  display: flex;
  width: 100%;
  gap: 12px;
  padding: 8px 12px;
  align-items: center;
  border-radius: 16px;
}

.alert__icon {
  width: 22px;
  height: 22px;
}

.alert--primary {
    border: 2px solid var(--primary-color);
}

.alert--primary > .alert__icon {
  fill: var(--primary-color);
}

.alert--secondary {
    background-color: var(--primary-color);
}

.alert--secondary > .alert__icon {
  fill: var(--secondary-color);
}

.alert--secondary > .alert__text {
  color: var(--text-color);
}
