.badge {
  font-size: 12px;
  font-weight: 700;
  border-radius: var(--xsmall);
  text-align: center;
  background-color: var(--alert-default);
}

.badge--medium {
  padding: var(--xsmall) var(--small);
  font-size: 16px;
}

.badge--small {
  padding: calc(var(--xsmall) / 2) var(--xsmall);
  font-size: 12px;
}

.badge--default {
  background: var(--secondary-bg-color);
  color: var(--text-color);
}

.badge--success {
  background: var(--alert-success);
  color: var(--alert-success-border);
  border: 1px solid var(--alert-success-border);
}

.badge--error {
  background: var(--alert-error);
  color: var(--alert-error-border);
  border: 1px solid var(--alert-error-border);
}

.badge--warning {
  background: var(--alert-warning);
  color: var(--alert-warning-border);
  border: 1px solid var(--alert-warning-border);
}

.badge--disabled {
  background: var(--primary-bg-color);
  color: var(--text-color);
  opacity: 0.6;
}

@media (max-width: 768px) {
  .badge--small {
    display: none;
  }
}
