.button {
  border: unset;
  padding: var(--xsmall) var(--small);
  border-radius: var(--xsmall);
  cursor: pointer;
}

.button--default {
  background: var(--secondary-bg-color);
  color: var(--secondary-color);
}

.button--hover,
.button--default:hover {
  background: var(--hover-color);
  color: var(--text-color);
}

.button--active,
.button--default:active {
  background: var(--active-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

.button--disabled {
  border: 1px solid var(--border-color);
  cursor: not-allowed;
}

.button--medium {
  width: calc(var(--xxlarge) * 2);
  height: calc(var(--small) * 3);
}

.button--large {
  width: 150px;
  height: var(--xxlarge);
  padding: var(--small) var(--medium);
}

@media (max-width: 768px) {
  .button--small,
  .button--medium {
    display: none;
  }
}
