.card__title-box {
    padding: 6px;
    background-color: var(--secondary-bg-color);
    color: var(--text-color);
    border-radius: 4px 4px 0 0;
}

.card--default{
    width: 400px;
    height: 200px;
    padding: 0;
    border: 1px solid var(--hover-color);
}

.card {
    border-radius: 8px;
}

.card--default:hover, .card--hover {
    border: 1px solid var(--border-color);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
   
}

.card--default:focus, .card--focus {
    border: 2px solid var(--border-color);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    
}


.card__content{
    padding: 8px;
}

.card--small {
    width: 200px;
    height: 100px;
}

.card--medium {
    width: 300px;
    height: 150px;
}


@media (max-width: 768px) {
    .card--small {
      display: none;
    }
  }