.component-details {
  overflow: scroll;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: var(--xlarge);
}

.component-details::-webkit-scrollbar {
  display: none;
}

.component-details__canvas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: min-content;
  justify-items: flex-start;
  padding: var(--medium);
  gap: var(--large);
  width: 90%;
}

.component-details__category {
  color: var(--text-color);
}

.component-details__component,
.component-details__details {
  display: flex;
  flex-direction: column;
  border-radius: var(--small);
  padding: 0 0 var(--small) 0;
  background-color: #ffffff;
  cursor: pointer;
}

.component-details__component {
  width: 240px;
}

.component-details__details {
  cursor: unset;
  gap: var(--medium);
}

.component-details__title {
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
  padding: var(--xsmall);
  border-radius: var(--small) var(--small) 0 0;
  font-size: 16px;
  font-weight: 700;
}

.component-details__component-title {
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
  padding: var(--xsmall);
  border-radius: var(--small) var(--small) 0 0;
  font-size: 17px;
  font-weight: 700;
}
.component-details__description {
  padding: var(--small);
  font-size: 16px;
}

.component-details__type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--small);
  padding: var(--small) var(--large);
  border-top: 1px solid #c8c8c8;
}

.component-details__type-title {
  font-size: 18px;
  font-weight: 600;
}

.component-details__type-description {
  margin-top: var(--xsmall);
  font-size: 16px;
}

.component-details__preformatted {
  width: 100%;
}

.component-details__type-code {
  display: block;
  margin-top: var(--xsmall);
  padding: var(--xsmall);
  background-color: #f4f4f4;
  border-radius: var(--xsmall);
  font-family: monospace;
}

.component-details__result-item {
  padding: var(--small);
  border-bottom: 1px solid #c8c8c8;
  cursor: pointer;
}

.component-details__result-item:hover {
  background-color: #f4f4f4;
}

.component-details__result-title {
  font-size: 16px;
  font-weight: 500;
}

.component-details__button {
  align-self: center;
  padding: var(--xsmall) var(--small);
  border: none;
  border-radius: var(--small);
  background-color: rgb(92, 92, 92);
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
}

.component-details__button:hover {
  background-color: rgb(72, 72, 72);
}

.component-details__demo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--small);
  width: 100%;
}

@media (max-width: 768px) {
  .component-details__type-code {
    display: none;
  }
}
