.dropdown {
  cursor: pointer;
  border-radius: 8px;
}

.dropdown--small {
  padding: var(--xsmall) var(--small);
}

.dropdown--medium {
  padding: var(--small);
}

.dropdown--large {
  padding: var(--medium) var(--medium);  
}

.dropdown--hover,
.dropdown--default:hover {
  background: var(--hover-color);
  color: var(--text-color);
}

.dropdown--active,
.dropdown--default:active {
  background: var(--active-color);
  color: var(--text-color);
}

.dropdown--active,
.dropdown--hover {
  pointer-events: none;
}

@media (max-width: 768px) {
  .dropdown--small,
  .dropdown--medium {
    display: none;
  }
}
