.dropdown{
  cursor: pointer;
}

.dropdown--small {
  padding: 8px 12px;
  border-radius: 8px;
}

.dropdown--medium {
  padding: 12px 16px;
  border-radius: 8px;
}

.dropdown--large {
  padding: 16px 24px;
  border-radius: 8px;
}

.dropdown--hover, .dropdown--default:hover {
  background: var(--hover-color);
  color: var(--text-color);
}

.dropdown--active, .dropdown--default:active {
  background: var(--active-color);
  color: var(--text-color);
}