.page-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--xsmall) 0;
  background-color: var(--secondary-bg-color);
  border-bottom: 1px solid var(--border-color);
}

.page-header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 var(--large);
}

.page-header__logo,
.page-header__user {
  width: calc(var(--large) * 2);
}

.page-header__logo {
  cursor: pointer;
  fill: var(--text-color);
}

.page-header__title {
  font-size: var(--large);
  color: var(--text-color);
}

.page-header__nav-right {
  display: flex;
  align-items: center;
  gap: var(--small);
}


@media screen and (max-width: 768px) {
  .page-header__nav {
    margin: 0 var(--medium);
  }

  .page-header__logo,
  .page-header__user {
    width: calc(var(--large) * 1.5);
  }

  .page-header__title {
    font-size: 24px;
  }

}

@media screen and (max-width: 480px) {
  .page-header__nav {
    margin: 0 var(--small);
  }

  .page-header__logo {
    width: calc(var(--large) * 1.25);
  }

  .page-header__title {
    font-size: 20px;
  }


}
