.input {
  width: 100%;
  border: 2px solid #000000;
  border-radius: var(--small);
  outline: none;
  font-size: 16px;
  padding: var(--xsmall) var(--small);
}

.input--default:focus,
.input--focus {
  border: 2px solid var(--border-color);
  color: var(--border-color);
}

.input--hover,
.input--default:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: var(--text-color);
}


