html {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff5f5;
}

main {
  flex-grow: 1;
  display: flex;
}

